@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: #a9a9a9;
    font-family: "Sriracha", cursive;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: "Passion One", sans-serif;
    font-size: 6vw;
}

header > p {
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
}

header a, footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 5%;
    font-size: 3vw;
}

section.normal {
    background-color: #ffffff;
    color: #000000;
}

section.imagem {
    background-color: #1d1d1d8e;
    color: #ffffff;
}

footer {
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
}